.toprow{
	width: 100%;
	background: #D8D8D8;
	border: 1px solid purple;
	margin-bottom: 20px;
	height: 50px;
	
}

.wrapper {
	.width: 100%;
	margin-bottom: 20px;
	

}
.middlerow{

	background: #D8D8D8;
	border: 5px solid purple;
		height: 150px
}


.middleleft{
	width: 15%;
	float: left;
	margin-right: 10px;
}

.middlecenter{
	width: 66%;
	float: left; 
	margin-right: 10px;
}

.middleright{
	width: 15%;
	float: right;
}


.wrapper2{
	width: 100%;
	margin-top: 60px;
	background: #D8D8D8;
	border: 1px solid purple;
	height: 50px;
}

