/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
	font-family: Calibri, sans-serif;
	}

.top{
	background:
	   linear-gradient(
      rgba(135, 206, 250, 0.35), 
      rgba(135, 206, 250, 0.35)
    ),

	url("trees.jpg");
  background-size: cover;

	color: white;
	height: 400px;	
	width: 1080px;
	
	margin: 0 auto;
	}

.middle{
	
	color: white;

	width: 1080px;
	display: block;
	margin: 0 auto;
	clear: both;
}

.middle-left{
background:
	   linear-gradient(
      rgba(187, 255, 255, 0.35), 
      rgba(187, 255, 255, 0.35)
    ),

	url("notts.jpg");




  background-size: cover;
	float: left;

width: 380px;
height: 400px;
}

.middle-right{
	float: right;
background:
	   linear-gradient(
      rgba(211, 211, 211, 0.25), 
      rgba(211, 211, 211, 0.25)
    ),

	url("climb.jpg");


  background-size: cover;
width: 700px;
height: 400px;
}

.bottom{
	
	color: white;

	width: 1080px;
	display: block;
	margin: 0 auto;
	clear: both;
}

.bottom-left{
float: left;
background-image: url("baseball.jpg");
background-size: cover;
width: 600px;
height: 400px;
}

.bottom-right{
float: right;
background-image: url("interior.jpg");
background-size: cover;
width: 480px;
height: 400px;
}