.top_bar{

	margin-top: -21px;
	width: 100%;
	height: 280px;
	background-image: url("peaks.jpe");
  	background-size: cover;
  	padding-bottom: 10px;
  	border-color: black;

}

h1{
	padding-top: 60px;
	padding-left: 15px;

}

h2{
	padding-top: 20px;
	padding-left: 15px;
}

body{
	margin-top: 0px;
	font-family: Calibri;
	background: black;

}

ul{
	padding-bottom: 20px;

}

span{
	font-weight: bold;

}

a{

	text-decoration: none;
	color: white;
}

a:visited 
{
    text-decoration: none; 
    color: white; 
}



.jumpout{
	display: block;
width: 250px;
height: 100px;
margin: auto;
margin-top: 175px;
text-align: center;

border: white;
 border-width:6px;	
    border-style:double;
}

.jumpout_text{
margin-top: 30px;
color: white;
font-size: 36px;
font-weight: bold;

}



.middle{
padding-top: 10px;
background-color: black;

}

.middle_left{
	float: left;
	width: 39%;
	min-height: 450px;
	background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.35), 
	      rgba(211, 211, 211, 0.35)
	    ),

		url("notts.jpg");

	background-size: cover;

}

.middle_right{
	
	min-height: 450px;
width: 60%;
	float: right;
	margin: 0px;
		background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.35), 
	      rgba(211, 211, 211, 0.35)
	    ),

		url("climb.jpg");

	background-size: cover;
}

.middle_right_alt{
	
	min-height: 450px;
		width: 60%;
	float: right;
	margin: 0px;
		background: 
	 
		url("climb.jpg");

	background-size: cover;
}


.middle_text{
	padding-left: 10px;
}

.bottom{
	clear: both;
	padding-top: 10px;
background: black;
	}

.bottom_left{
	float: left;
	width: 24%;
		background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.40), 
	      rgba(211, 211, 211, 0.40)
	    ),

		url("beach.jpe");

	background-size: cover;

	min-height: 450px;
}

.bottom_left_alt{
	float: left;
	width: 24%;
		background: 
	  
		url("beach.jpe");

	background-size: cover;

	min-height: 450px;
}


.bottom_right{
	float: right;
	width: 75%;
	min-height: 450px;
	

	background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.35), 
	      rgba(211, 211, 211, 0.35)
	    ),

		url("baseball.jpg");

	background-size: cover;
}

.middle_left_alt{
	float: left;
	width: 39%;
	min-height: 450px;
	background: 
	
		url("notts.jpg");

	background-size: cover;
}

.bottom_right_alt{

	float: right;
	width: 75%;
	min-height: 450px;

	background: 
	
		url("baseball.jpg");

	background-size: cover;
}

@media all and (max-width: 910px) {


.middle_left{
	
	width: 100%;
	min-height: 450px;
	background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.35), 
	      rgba(211, 211, 211, 0.35)
	    ),

		url("notts.jpg");

	background-size: cover;
}

.middle_right{
	min-height: 450px;
width: 100%;
	
	margin: 0px;
		background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.35), 
	      rgba(211, 211, 211, 0.35)
	    ),

		url("climb.jpg");

	background-size: cover;
}
.Middle_Text{
	padding-left: 5px;
}

.bottom{
	background-color: black;
	padding-top: 10px;
	}


.bottom_left{
	
	width: 100%;
		background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.40), 
	      rgba(211, 211, 211, 0.40)
	    ),

		url("beach.jpe");
		background
padding-top: 10px;
	background-size: cover;

	min-height: 380px;
}

.bottom_left_alt{
	
	width: 100%;
		background: 
	  
		url("beach.jpe");

	background-size: cover;

	min-height: 380px;
}

.bottom_right{
	float: right;
	width: 100%;
	min-height: 450px;
	

	background: 
	  linear-gradient(
	      rgba(211, 211, 211, 0.35), 
	      rgba(211, 211, 211, 0.35)
	    ),

		url("baseball.jpg");

	background-size: cover;


}

.middle_left_alt{

	width: 100%;
	min-height: 450px;
	background: 
	
		url("notts.jpg");

	background-size: cover;
}

.middle_right_alt{
	
	min-height: 450px;
width: 100%;
	
	margin: 0px;
		background: 
	 
		url("climb.jpg");

	background-size: cover;
}



.bottom_right_alt{

	
	width: 100%;
	min-height: 450px;
	
	background: 
	
		url("baseball.jpg");

	background-size: cover;



}
}