/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body{
  font-family: Open Sans;
}

.rel_top_bar{
background: #033048;
width: 940px;
height: 80px;
display: block;
}


    .rel_top_title{
    margin-left: 40px;
    font-size: 24px;
    font-weight: 800;
    color: white;
    display: inline;
    line-height: 80px;
    float: left;
    }

    .rel_top_links{
    float: right;
    padding-right: 70px;
    }

        .rel_top_links > li{
        line-height: 80px;
        display: inline;
        padding: 16px;
        }

        .top_links {
        color: #f9e42e;
        text-decoration: none;
        }

              .top_links:hover{
              font-style: italic;
              }


.rel_main{
width: 700px;
display: block;
float:left;
background: #f0efef;
}

.rel_main_leftcolumn{
}

    .rel_main_firstpost_title{
    margin-top: 42px;
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: 600;
    color:  #033048;
    margin-left: 40px;
    }

    .boat_crew_image{
    margin-left: 40px;
    margin-bottom: 14px;
    width: 660px;
}

    .rel_main_firstpost_container{
    margin-left: 40px;
    color:  #121212;
    margin-bottom: 24px;
    }


         .firstcharacter{
          font-weight: 600;
          font-size: 42px;
          }

          .rel_main_firstpost_body{
          display: inline;
          font-size: 21px;
          font-weight: 300;
          }

.rel_read_more{

float: right;
font-weight: 800;
font-size: 24px;
color:  #033048;

}

.under{
  clear: both;
}
.rel_sidebar{
width: 240px;
display: block;
float: left;
background: #f0efef;

}



